@font-face {
  font-family: 'MD-Tall';
  src: url('./MD-Tall.ttf');
}

@font-face {
  font-family: 'LibreBarcode';
  src: url('./LibreBarcode39Text-Regular.ttf');
}

@font-face {
  font-family: 'Readex';
  src: url('./ReadexPro-VariableFont_wght.ttf');
}