 @import url('./fonts/fonts.css');
 /* Tailwind Requirements */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
 @layer components {
   .main-link {
     @apply text-6xl tracking-widest cursor-pointer flex relative w-10
      hover:text-red-500
      transition-colors duration-300 ease-in-out;
   }

   .nav-link {
     @apply w-full text-center text-4xl py-4 bg-gray-800 rounded-md
      hover:text-red-500 hover:translate-x-4
      transition-all duration-300 ease-in-out;
   }

   .nav-link-selected {
    @apply w-full text-center text-4xl py-4 bg-gray-800 rounded-md
      translate-x-2 text-gray-400
      transition-all duration-300 ease-in-out;
  }
 }